:root {
	--background: #000000;
	--background-dimmed: var(--background);
	--background-hover: #202020;
	--background-active: #505050;
	--foreground: #ffffff;
	--foreground-dimmed: #606060;

	--border: 1px solid var(--foreground);
	--spacing: 10px;

	--text-padding: .2em .4em;
}

html, body {
	margin: 0;
	pading: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing);

	background-color: var(--background);
	color: var(--foreground);
}

body {
	padding: var(--spacing);
	width: calc(100% - var(--spacing) * 2);
	height: calc(100% - var(--spacing) * 2);

	& > main {
		flex-grow: 1;
		flex-basis: 0;
		overflow: scroll;

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: var(--spacing);
	}

	& > header, & > footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& > footer {
		color: var(--foreground-dimmed);
		font-size: 12px;
	}
}

h1, h2, h3, h4, h5, p, a, button {
	margin: 0;
	padding: 0;
}
a, button {
	outline: none;
	border: var(--border);
	padding: .2em .4em;
	text-decoration: none;

	background-color: var(--background);
	color: var(--foreground);

	&:hover { background-color: var(--background-hover); }
	&:active { background-color: var(--background-active); }
}

.epic-text {
	font-style: oblique;
	font-weight: bold;
	text-decoration: underline;
}

section.showcase {
	padding: 2px 5px;
	padding-right: 0;
	border-left: 3px solid var(--foreground);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;

	& > header {
		display: flex;
		& > :last-child { margin-left: 5px; }
	}

	& > content > button:not(:first-child) { border-left: none; }
}

#sc-timer .value { min-width: 85px; }
